[Desktop Entry]
Name=netf
Comment=netf is a screensaver that shows images taken by netf daemon
TryExec=mplayer
Exec=/usr/lib/xscreensaver/netf-display
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver;
OnlyShowIn=GNOME;KDE;XFCE
